@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666;
	margin: 0
}
a {
	text-decoration: none
}
.img100 {
	width: 100%;
	height: auto
}
.btn-do {
	background: #C00;
	color: #FFF;
	padding: 5px 10px;
	transition: all 1s
}
.btn-do:hover {
	background: #0F0
}
.container {
	width: 960px;
	margin: 0 auto
}
header {
	min-height: 100px;
}
header .logo {
	width: 100px;
	float: left;
	min-height: 90px;
	padding: 5px 0 0 10px
}
/*------ style cho menu tai header----------*/
header nav {
	min-height: 30px;
	float: right;
	margin-top: 50px;
}
header nav ul {
	margin: 0;
	padding: 0;
	list-style: none
}
header nav ul li {
	float: left;
	position:relative
}
header nav ul li a {
	line-height: 30px;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	padding: 0 10px;
	display: block;
	border-bottom: 3px solid #999;
}
header nav ul li a:hover {
	color: #F00;
	border-bottom: #000 3px solid
}
header nav ul li ul{ position:absolute; background:rgba(255,255,255,.8); width:200px; left:0; top:40px; transition:all 1s; visibility:hidden; opacity:0}
header nav ul li ul li{ float:none}
header nav ul li:hover >ul{ top:33px; visibility:visible; opacity:1}






.banner {
	min-height: 300px;
	padding: 10px
}
aside {
	width: 25%;
	min-height: 500px;
	float: left
}
aside h2 {
	border-bottom: 3px solid #ccc;
	padding-left: 10px;
	margin-left: 10px;
	display: block
}
aside nav {
	margin-left: 10px
}
aside nav ul {
	margin: 0;
	padding: 0;
	list-style: none
}
aside nav ul li {
	border-bottom: 1px solid #999;
	min-height: 30px;
	line-height: 30px;
}
aside nav ul li a {
	color: #333;
	text-decoration: none;
	padding-left: 20px;
	display: block
}
aside nav ul li a:hover {
	background: #F00;
	color: #fff
}
main {
	width: 75%;
	min-height: 500px;
	float: right
}
.spham {
	width: 33.333333333%;
	padding: 5px;
	float: left;
	position: relative
}
.spham .icon-commercial {
	width: 80%;
	height: 40px;
	background: rgba(255,255,255,.5);
	text-align: center;
	position: absolute;
	top: 40%;
	left: 10%;
	transition: all 1s;
	opacity: 0
}
.spham .icon-commercial i {
	margin: 5px;
	padding: 5px 10px
}
.spham:hover >.icon-commercial {
	opacity: 1;
	top: 30%
}
footer {
	min-height: 150px;
	background: #666;
	clear: both
}
footer {
	color: #fff
}
footer a {
	color: #CCC;
	margin: 20px 10px;
	text-decoration: none;
	display: inline-block
}
footer a:hover {
	color: #fff
}
.w30 {
	width: 30%;
	padding: 10px
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.text-right {
	text-align: right
}
